.App {
  text-align: center;
  background-color: #2E132C;
  min-height: 100vh;
  color: white;
  align-items: center;
}

.header-cont{
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  height: 52px;
  background: #250C23;
  
}

.header-nav-cont{
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  width: 605px;
  height:52px;
  padding: 10px;
  
}

.logo-cont-header{
  width:45px;
  height: 27px;
}

.devs-header {
  width:159px;
  height: 15px;
}
.flex {
  display: flex;
}

 .form-cont {
  height: 218px;
  width: 100%;
  background-color: #150714;
  justify-content: center;
  padding: 15px;
}

textarea {
  width: 500px;
  height: 113px;
  background: #2F112D;
  overflow: auto;
  resize: none;
  border: none;
  color: white;
}  

.tweet-cont{
  align-items: center;
  border: 1px solid red;
  flex-flow: column nowrap;
}

.tweet-cont-ind{
  width: 605px;
  height: auto;
  border-bottom: 2px solid #60265B;
  padding: 20px;
}


/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2E132C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
